{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section class="bg-center bg-cover bg-no-repeat bg-[url('ecocentre2.webp')] bg-gray-600 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-5 lg:py-10">
    <div class="text-white/90 subpixel-antialiased">
      <h1
        class="mb-4 text-center font-['Raleway'] font-extrabold tracking-tight leading-none text-4xl md:text-6xl lg:text-7xl">
        {{ this.title }}</h1>
      <h2 class="my-6 text-justify font-['Lato'] text-xl leading-relaxed lg:text-2xl lg:leading-relaxed">{{
        this.subheading }}</h2>
    </div>
  </div>
</section>

<section>
  <ul class="blog-index">
  {% for post in this.pagination.items %}
    <li>
      <a href="{{ post|url }}">{{ post.title }}</a> —
      by {{ post.media }}
      on {{ post.pub_date|dateformat }}
    </li>
  {% endfor %}
  </ul>

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
</section>

{% endblock %}