{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section class="bg-center bg-cover bg-no-repeat bg-[url('ecocentre2.webp')] bg-gray-600 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-5 lg:py-10">
    <div class="text-white/90 subpixel-antialiased">
      <h1
        class="mb-4 text-center font-['Raleway'] font-extrabold tracking-tight leading-none text-4xl md:text-6xl lg:text-7xl">
        {{ this.title }}</h1>
      <h2 class="my-6 text-justify font-['Lato'] text-xl leading-relaxed lg:text-2xl lg:leading-relaxed">{{
        this.subheading }}</h2>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-screen-xl py-2 lg:py-6 font-['Lato']">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {% for post in this.pagination.items %}
      
      <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600 flex flex-col justify-between">
        <div class="p-5">
            <a href="{{ post.media_url }}" target="_blank" rel="noopener noreferrer">
                <h5 class="mb-2 text-lg md:text-xl xl:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</h5>
            </a>
            <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              <ul>
                <li>Article publié dans : {{ post.media }}</li>
                <li>Date de publication : {{ post.pub_date|dateformat }}</li>
              </ul>
            </div>  
        </div>
        <a href="{{ post.media_url }}" target="_blank" rel="noopener noreferrer">
          <img class="object-fill w-full max-h-60 rounded-b-lg" src="{{ post.path }}/{{ post.media_image }}" alt="" />
        </a>
      </div>

    {% endfor %}
    </div>
    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}

  </div>

</section>

{% endblock %}