{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="bg-center bg-cover bg-no-repeat bg-[url('ecocentre2.webp')] bg-gray-600 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-5 lg:py-10">
    <div class="text-white/90 subpixel-antialiased">
      <h1
        class="mb-4 text-center font-['Raleway'] font-extrabold tracking-tight leading-none text-4xl md:text-6xl lg:text-7xl">
        {{ this.title }}</h1>
      <h2 class="my-6 text-justify font-['lato'] text-lg leading-relaxed lg:text-xl lg:leading-relaxed">{{
        this.subheading }}</h2>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-1 lg:py-3">
    <div class="subpixel-antialiased font-['lato']">
      <h2 class="my-6 text-justify text-xl leading-relaxed">{{this.section1_heading }}</h2>
      <div class="my-6 text-justify text-base leading-relaxed">{{this.section1 }}</div>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-1 lg:py-3">
    <div class="subpixel-antialiased font-['lato']">
      <h2 class="my-6 text-justify text-xl leading-relaxed">{{this.section2_heading }}</h2>
      <div class="my-6 text-justify text-base leading-relaxed">{{this.section2 }}</div>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-1 lg:py-3">
    <div class="subpixel-antialiased font-['lato']">
      <h2 class="my-6 text-justify text-xl leading-relaxed">{{this.section3_heading }}</h2>
      <div class="my-6 text-justify text-base leading-relaxed">{{this.section3 }}</div>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-1 lg:py-3">
    <div class="subpixel-antialiased font-['lato']">
      <h2 class="my-6 text-justify text-xl leading-relaxed">{{this.section4_heading }}</h2>
      <div class="my-6 text-justify text-base leading-relaxed">{{this.section4 }}</div>
    </div>
  </div>
</section>

{% endblock %}