{% block footer %}

<footer class="bg-white dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl h-20 p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://stop-ecocentre.fr/" target="_blank" rel="noopener noreferrer" class="hover:underline">stop-ecocentre™</a>.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="mailto:stopecocentre@gmail.com" class="hover:underline me-4 md:me-6">stopecocentre@gmail.com</a>
        </li>
    </ul>
    </div>
</footer>

{% endblock %}