<!doctype html>
<html class="dark">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/static/output.css'|url }}">
  <title>{% block title %}Welcome{% endblock %} — Example</title>
</head>

<body>
  {% include 'navigation.html' %}
  {% block nav %}{% endblock %}
  {% block body %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</body>

</html>