<!doctype html>
<html class="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'/static/favicon_io/apple-touch-icon.png'|url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/static/favicon_io/favicon-32x32.png'|url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon_io/favicon-16x16.png'|url}}">
  <!-- <link rel="manifest" href="{{'/static/favicon_io/site.webmanifest'|url}}"> -->
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/static/output.css'|url }}">
  <title>{% block title %}Welcome{% endblock %}</title>
</head>

<body>
  {% include 'navigation.html' %}
  {% block nav %}{% endblock %}
  {% block body %}{% endblock %}
  {% include 'footer.html' %}
 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</body>

</html>