{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="bg-center bg-cover bg-no-repeat bg-[url('ecocentre2.webp')] bg-gray-500 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-screen-xl py-2 lg:py-6">
    <div class="text-white/90 subpixel-antialiased">

      <div class="flex justify-center items-center my-2 lg:my-4">
        <div class="mx-2">
          <a href="https://www.facebook.com/profile.php?id=100094464810313" target="_blank" rel="noopener noreferrer">
            <img src="/static/icons/facebook_logo_icon.svg" alt="facebook social media" style="width:64px;height:64px;">
          </a>
        </div>
        <div class="mx-2">
          <a href="https://www.instagram.com/stopecocentre" target="_blank" rel="noopener noreferrer">
            <img src="/static/icons/instagram_logo_icon.svg" alt="instagram social media" style="width:64px;height:64px;">
          </a>
        </div>
        <div class="mx-2">
          <a href="https://twitter.com/StopEcocentre" target="_blank" rel="noopener noreferrer">
            <img src="/static/icons/twitter_logo_icon.svg" alt="twitter social media" style="width:64px;height:64px;">
          </a>
        </div>
        <div class="mx-2">
          <a href="mailto:stopecocentre@gmail.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/icons/email_logo_icon.svg" alt="email" style="width:64px;height:64px;">
          </a>
        </div>
      </div>

      <h1
        class="text-center font-['Raleway'] font-extrabold tracking-tight leading-none text-4xl md:text-6xl lg:text-7xl my-2 lg:my-6">
        {{ this.title }}
      </h1>

      <div class="flex justify-center items-center py-5">
        <div class="max-w-48">
          <img class="object-cover rounded-lg" src="{{ this.ecocentre_logo }}" alt="stop-ecocentre logo">
        </div>
      </div>

      <div class="grid lg:grid-cols-2 gap-8 text-justify md:grid-cols-1 font-['Lato'] text-base md:text-lg lg:text-xl my-2 lg:my-6">
        <div class="leading-relaxed">
          {{ this.intro1 }}
        </div>
        <div class="leading-relaxed">
          {{ this.intro2 }}
          <ul role="list" class="space-y-1">
            <li class="flex items-center">
                <svg class="flex-shrink-0 w-4 h-4 text-red-500 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 22">
                <path d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"/>
                </svg>
                <span class="leading-tight ms-3">{{ this.nuisance1 }}</span>
            </li>
            <li class="flex items-center">
                <svg class="flex-shrink-0 w-4 h-4 text-red-500 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 22">
                <path d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"/>
                </svg>
            <span class="leading-tight ms-3">{{ this.nuisance2 }}</span>
            </li>
            <li class="flex items-center">
                <svg class="flex-shrink-0 w-4 h-4 text-red-500 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 22">
                <path d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"/>
                </svg>
                <span class="ms-3">{{ this.nuisance3 }}</span>
            </li>
          </ul>
          {{ this.intro3 }}
        </div>
        
      </div>

      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 my-2 lg:my-6">
        <a href="{{ this.contribute }}" target="_blank" rel="noopener noreferrer"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Contribuez à la cagnotte
        </a>
        <a href="#"
          class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
          Les dernières nouvelles
        </a>
      </div>
    </div>
  </div>

</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-200 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-screen-xl py-2 lg:py-6">
    <div class="text-black/90 subpixel-antialiased text-justify font-['Lato'] text-base md:text-lg lg:text-xl my-2 lg:my-6">
      <div class="my-2 lg:my-6 leading-relaxed">
        {{ this.content1 }}
      </div>
      <div class="my-2 lg:my-6">
        <div class="flex justify-center">
          <img class="object-cover rounded-lg"  src="{{ this.image_ecocentre }}" alt="Ecocentre Ile de Nantes vue aérienne">
        </div>
      </div>
      <div class="my-2 lg:my-6 leading-relaxed">
        {{ this.content2 }}
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <img class="object-cover h-80 rounded-lg" src="{{ this.image_brezillon1 }}" alt="Brezillon1 Ecocentre nuisances sonores pollution">
        <img class="object-cover h-80 rounded-lg" src="{{ this.image_brezillon2 }}" alt="Brezillon2 Ecocentre nuisances sonores pollution">
        <img class="object-cover h-80 rounded-lg" src="{{ this.image_brezillon3 }}" alt="Brezillon3 Ecocentre nuisances sonores pollution">
      </div>
    </div>
  </div>
</section>

{% endblock %}
