
{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}


<div class="grid grid-cols-1">
  <div class="bg-cover bg-center bg-no-repeat bg-[url('ecocentre2.webp')]">
    <div class="flex items-center justify-center backdrop-brightness-50">
      <div class="shrink-0 max-w-4xl mx-5 px-5">
        <div class="text-white/90 subpixel-antialiased text-center">
          <h2 class="my-10 text-7xl font-['Raleway']">{{ this.title }}</h2>
          <div class="flex justify-center items-center">
            <div class="max-w-48">
              {{ this.thing }}
            </div>
          </div>
          <h4 class="my-6 text-2xl text-justify font-['Raleway'] leading-relaxed">{{ this.body }}</h4>
          
          <button
            type="button"
            class="rounded border-2 border-neutral-50 px-7 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
            data-te-ripple-init
            data-te-ripple-color="light">
            Call to action
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-[url(https://placekitten.com/600)] h-[600px] w-[600px] relative">
  <div class="absolute bottom-0 px-4 py-3 bg-gray-500/50 w-full">
    <h1 class="text-white font-semibold text-4xl"> Kittens are cute </h1>
    <p class="text-gray-200">
      I love kittens very much. They are amazing.
    </p>
  </div>
</div>
</div>
{% endblock %}
