{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="bg-center bg-cover bg-no-repeat bg-[url('ecocentre2.webp')] bg-gray-600 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-5 lg:py-10">
    <div class="text-white/90 subpixel-antialiased">
      <h1
        class="mb-4 text-center font-['Raleway'] font-extrabold tracking-tight leading-none text-4xl md:text-6xl lg:text-7xl">
        {{ this.title }}</h1>
      <h2 class="my-6 text-justify font-['Raleway'] text-xl leading-relaxed lg:text-2xl lg:leading-relaxed">{{
        this.subheading }}</h2>
    </div>
  </div>
</section>

<section class="bg-center bg-cover bg-no-repeat bg-gray-600 bg-blend-multiply">
  <div class="px-4 mx-auto shrink-0 max-w-4xl py-10 lg:py-20">
    <div class="text-white/90 subpixel-antialiased">
      <div class="my-6 text-justify font-['Raleway'] text-base leading-relaxed">{{
        this.body }}</div>
    </div>
  </div>
</section>


{% endblock %}